body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #bbd9f7; /* Fondo de la página */
}
.imglogo{
    position: absolute; /* Usa 'absolute' para posicionar la imagen en relación al contenedor más cercano con posición relativa */
    top: 3%; /* Posición en la parte superior */
    left: 0; /* Posición en la parte izquierda */
    margin: 0
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    gap: 20px;
}

.left-panel, .right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.left-panel {
    background-color: #597ee6a9; /* Color de fondo del panel de entrada */
}

textarea {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    border: none; /* Sin bordes */
    border-radius: 10px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
}

textarea#inputText {
    background-color: #597ee6a9; /* Color de fondo del área de entrada */
}

textarea#outputText {
    background-color: #f0f0f0; /* Color de fondo del panel de resultados */
    padding-right: 100px;
}

.background-image {
    background-image: url('Muñeco.png'); /* Ruta a la imagen */
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center; /* Centrar la imagen */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

#encryptButton {
    background-color: rgb(135, 194, 121); /* Color de fondo del botón Encriptar */
    color: white;
    border: #007BFF;
}

#decryptButton {
    background-color: #d87b75; /* Color de fondo del botón Desencriptar */
    color: white;
    margin-bottom: 10px; /* Añadido para espaciar del botón Copiar */
}

#copyButton {
    background-color: #007BFF; /* Color de fondo del botón Copiar */
    color: white;
    width: 100%; /* Ocupa el ancho de la caja de texto */
    margin-top: auto; /* Asegura que el botón esté siempre abajo */
}

#warningMessage {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.hidden {
    display: none;
}
